<%= markdown @post.body %>

<div style="border-top: 1px solid #ccc;">
  <p><%= @post.author.name %> broadcast this message to <%= @group_names.map(&:downcase).to_sentence %>.</p>
  <p>To reply, either respond to this email or <%= link_to "click here", post_url(slug: @post.thread.slug, thread_id: @post.thread.id, post_number: @post.post_number) %>.</p>
</div>
