<%= markdown @thread.posts.first.body %>

<div style="border-top: 1px solid #ccc;">
  <p>
    You received this message because you are subscribed to the subforum "<%= @thread.subforum.name %>."
    <%= link_to "Subscribe to this thread.", subscribe_thread_url(token: @reply_info) %>
  </p>
  <p>Reply to this email or <%= link_to "view the thread on Community", thread_url(slug: @thread.slug, id: @thread.id) %>.</p>
</div>
