#main-content {
  @include make-sm-column-offset(1);
  @include make-sm-column(10);
}

#sidebar {
  @include make-sm-column(3);
}

#notifications {
  padding: 0;
  border-radius: 0;
}

.index-grid {
  @include make-sm-column(3);
}

.navbar {
  border-radius: 0;
  border-top: 5px solid $brand-primary;
  height: 45px;
  margin-bottom: 1.25em;
  background-color: #000;

  .fi-comments {
    color: #fff;
    font-size: 1.25em;
  }
}

.navbar-community {
  .navbar-header .navbar-brand {
    img {
      width: 26px;
      height: auto;
      background-color: white;
      padding: 2px;
      position: relative;
      bottom: 9px;
    }

    .brand-text {
      position: relative;
      bottom: 6px;
      margin-left: 10px;
    }
  }

  .navbar-header:hover a {
    color: $brand-primary;
  }

  .navbar-nav a {
    color: #ccc;
    padding: 13px 15px 12px 15px;
  }

  .nav .open > a,
  .nav .open > a:focus,
  .nav .open > a:hover,
  .nav > li > a:focus,
  .nav > li > a:hover {
    background-color: rgba(0,0,0,0);
    color: $brand-primary;
  }

  .dropdown.open, .dropdown:hover, .dropdown:focus {
    height: 44px;
  }

  .dropdown-menu {
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }

  .dropdown-menu > li > a {
    color: black;
    padding: 5px 10px;
  }

  .notification-group {
    margin-bottom: 0;
    max-height: 250px;
    overflow: auto;
    width: 300px;

    .notification-item {
      white-space: normal;
      font-size: 12px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid #ccc;
      border-radius: 0;
      padding-right: 25px;
    }

    .notification-item:last-child {
      border-bottom: none;
    }

    .notification-item-name {
      font-weight: bold;
      color: #555;
    }

    .notification-item-topic {
      font-style: italic;
    }

    .notification-close {
      position: relative;
      left: 10px;
      bottom: 2px;
    }
  }

}

@media (max-width: $screen-sm-min) {
  .collapse-toggle {
    color: #ccc;
    position: relative;
    bottom: 9px;
  }

  #community-navbar-collapse {
    position: relative;
    top: -19px;
    background: $gray-lighter;
  }
}

.unread-count-icon {
  z-index: 1000;
  position: absolute;
  top: 8px;
  left: 26px;
  padding: 0.2em 0.4em;
  font-size: 10px;
  background-color: red;
}

.unread-count-container {
  padding: 5px 0;
  border-bottom: 1px dotted #ccc;

  .clear-all {
    float: right;
    padding-right: 0;
  }
}

.unread-count {
  font-size: 12px;
  padding-left: 10px;
}

.arrow-up {
  float: right;
  position: relative;
  bottom: 8px;
  right: 13px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}