#main-content {
  @include make-sm-column(12);
}

//Below 480 px - mobile phones only
@media (max-width: $screen-xs-min) {
  #search-bar {
    display: none;
  }

  #navbar-header {
    @include make-xs-column(10);
  }

  #util-bar {
    @include make-xs-column(2);
  }
}

// Extra small (between 480 and 768 px) only
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  #main-content {
    padding-left: 0;
    padding-right: 0;
  }

  #navbar-community {
    #navbar-header {
      @include make-xs-column(5);
    }

    #search-bar {
      @include make-xs-column(6);
    }

    #util-bar {
      @include make-xs-column(1);
    }
  }
}

#notifications {
  padding: 0;
  border-radius: 0;
}

.index-grid {
  @include make-sm-column(3);
}

#navbar-community {
  border-radius: 0;
  border-top: 5px solid $brand-primary;
  border-bottom: 1px dotted $brand-primary;
  height: 45px;
  margin-bottom: 1em;
  padding: 0 10px;

  #navbar-header {
    @include make-sm-column(3);

    img {
      width: 24px;
      height: auto;
      padding: 2px;
      position: relative;
      top: 3px;
    }

    .brand-text {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 1.3em;
      margin-left: 5px;
      position: relative;
      top: 6px;
    }

    a:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }

  #search-bar {
    @include make-sm-column(6);
    padding: 0;
  }

  #util-bar {
    @include make-sm-column(3);
    text-align: right;
    padding: 0 5px;

    .community-nav {
      list-style: none;
      margin-top: 10px;
    }

   .community-nav > li {
      display: inline-block;
      vertical-align: top;
      padding: 0 15px;

    }

    .navbar-text {
      font-weight: bold;
      color: #555;
      margin: 0;
    }

    a {
      color: #555;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      padding: 0 3px;
      .community-nav > li {
        padding: 0 10px;
      }
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      padding: 0 2px;
      .community-nav > li {
        padding: 0 5px;
      }
      .navbar-text {
        font-size: small;
        font-weight: normal;
      }
    }
  }

  .dropdown-menu {
    margin-top: 5px;
    margin-right: -15px;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    border: 1px solid #eee;
  }

  .dropdown-menu-right {
    right: -1em;
  }

  .dropdown-menu > li > a {
    color: black;
    padding: 5px 10px;
  }

  .notification-group {
    margin-bottom: 0;
    max-height: 250px;
    overflow: auto;
    width: 300px;

    .notification-item {
      white-space: normal;
      font-size: 12px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid #eee;
      border-radius: 0;
      padding-right: 25px;
    }

    .notification-item:last-child {
      border-bottom: none;
    }

    .notification-item-name {
      font-weight: bold;
      color: #555;
    }

    .notification-item-topic {
      font-style: italic;
    }

    .notification-close {
      position: relative;
      left: 10px;
      bottom: 2px;
    }
  }

  .breadcrumbs {
    display: inline-block;
    list-style: none;
    line-height: 40px;
    margin-bottom: 0;

    li {
      float: left;
      padding-right: 0;
    }

    li:first-child {
      margin-left: 5px;
    }

    li.active {
      color: #999;
      max-width: 280px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    li:before {
      content: "/\00a0";
      color: #ccc;
      padding: 0 5px;
    }
  }
}

.unread-count-icon {
  z-index: 1000;
  position: absolute;
  top: -6px;
  left: 10px;
  padding: 0.2em 0.4em;
  font-size: 10px;
  background-color: red;
}

.unread-count-container {
  padding: 5px 0;
  border-bottom: 1px dotted #eee;
  background-color: #eee;

  .clear-all {
    float: right;
    padding-right: 0;
  }
}

.unread-count {
  font-size: 12px;
  padding-left: 10px;
}

.arrow-up {
  float: right;
  position: relative;
  bottom: 8px;
  right: 13px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #eee;
}


footer {
  border-top: 1px dotted $brand-primary;
  margin: 1em 0;
}

ul.inline-links {
  padding-left: 0;
  text-align: center;
  margin-top: 1em;

  li {
    font-size: 12px;
    padding: 3px 8px;
    display: inline;
    list-style: none;
    border-right: 1px dotted #ccc;
  }

  li:last-child {
    border-right: none;
  }
}

.notifications {
  display: inline;
}
