@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,300);

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $brand-primary-muted;
}
a:hover {
  text-decoration: none;
}

.inline {
  display: inline;
}

.btn-default {
  border-color: $brand-primary-muted;
}

.btn-link:hover {
  text-decoration: none;
}

.text-danger {
  font-style: italic;
}

.breadcrumb {
  background-color: #fff;
  padding-left: 0;
  border-radius: 0;
  margin-bottom: .5em;

  li {
    border-bottom: #eee solid 1px;
    padding-bottom: 3px;
  }
}

.title-caps {
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
}

.panel {
  border-radius: 0;
}

.panel-body {
  padding: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
}

.form-control:focus {
  border-color: $brand-primary-muted;
  box-shadow: none;
}

.btn-new {
  background-color: $brand-primary-muted;
  color: white;
}

.row {
  .topic {
    @include make-sm-column(10);

    h1 {
      margin-top: 0;
    }
  }

  .topic-button {
    @include make-sm-column(2);
    margin-top: 8px;

    button {
      float: right;
    }
  }
}

.loading {
  text-align: center;
}

.no-side-margin {
  margin-left: 0;
  margin-right: 0;
}

.new-item-button {
  @include make-sm-column(1.5);
  margin: 5px 0;

  button {
    padding-left: 0;
    padding-right: 0;
    float: right;
  }
}

// Small screen only
@media (max-width: $screen-sm-min) {
  .new-item-button {
    margin: 0;

    button {
      float: none;
    }
  }
}

.timestamp {
  font-size: 12px;
  font-weight: bold;
  color: #666;
  margin-right: 5px;
}