.subforum-blocks {
  @media (max-width: $screen-sm-min) {
    margin-left: 0;
    margin-right: 0;
  }

  li.block-grid-item > div {
    width: 300px;
    height: 155px;
    overflow: scroll;
    border-left-width: 5px;
    border-left-style: solid;

    @media (max-width: $screen-sm-min) {
      max-width: 290px;
    }
  }

  .no-threads {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: #666;
  }

  ol {
    padding-left: 0;
    margin-left: 10px;
    list-style: none;

    li {
      margin: 4px 0;

      .timestamp {
        font-size: 12px;
        font-weight: bold;
        color: #666;
        margin-right: 5px;
      }

      .name {
        font-size: 12px;
      }

      p.title {
        line-height: 18px;
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  h3 {
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 0;
  }

  a:hover {
    color: black;
  }
}

.subforum-group-name {
  margin-top: 30px;

  @media (max-width: $screen-sm-min) {
      padding: 0 10px;
  }
}
