#subforum-index {
  .quick-links {
    @include make-sm-column(12);
    margin-top: 0;
    margin-bottom: 3em;
  }

  ul.subforums {
    list-style: none;
    padding: 0;
  }

  .subforum-group-name {
    @include make-sm-column-offset(2.5);
    @include make-sm-column(9.5);

    h1 {
      margin-top: 0;
      font-size: 32px;
    }
  }

  // Small screen only
  @media (max-width: $screen-sm-min) {
    .quick-links {
      margin-bottom: 1em;

      li {
        border: 0;
      }

      li:nth-child(4n+4):after {
        content: "\A";
        white-space: pre;
      }
    }
  }
}

.welcome {
  @include make-sm-column-offset(1);
  @include make-sm-column(10);

  background-color: $super-light-gray;
  margin-bottom: 2em;
  padding: 0;

  .close {
    margin: 5px 10px;
  }

  .welcome-content {
    padding: 1.5em;

    p:last-child {
      margin-bottom: 0;
    }
  }
}
