#subforum-index {
  .quick-links {
    @include make-sm-column(12);
    margin-top: 0;
    margin-bottom: 3em;
  }

  ul.subforums {
    list-style: none;
    padding: 0;
  }

  .subforum-group-name {
    @include make-sm-column-offset(2.5);
    @include make-sm-column(9.5);

    h1 {
      margin-top: 0;
      font-size: 32px;
    }
  }

  // Small screen only
  @media (max-width: $screen-sm-min) {
    .quick-links {
      margin-bottom: 1em;

      li {
        border: 0;
      }

      li:nth-child(4n+4):after {
        content: "\A";
        white-space: pre;
      }
    }
  }
}

.subforum-info {
  .subforum-top-bar {
    height: 5px;
  }

  .header-info {
    @include make-sm-column(2.5);

    h3 {
      margin: 0 auto;
      font-weight: bold;
      position: relative;
      bottom: 4px;
    }

    .subforum-description {
      margin-top: 4px;
      font-size: 12px;
      color: $medium-gray;
    }
  }

  .subforum-threads {
    @include make-sm-column(9.5);
    margin-bottom: 2em;
  }

  ol.threads {
    border: 1px solid $super-light-gray;
    padding: 5px;
    list-style: none;

    li > div {
      margin: .7em 0;
    }

    li > div.more-threads {
      margin-left: 15px;
      font-size: 12px;
    }

    li {
      .last-updated-info { @include make-sm-column(2.5); }

      p.title {
        @include make-sm-column(5.5);

        line-height: 18px;
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .post-number-info {
        @include make-sm-column(2);
      }

      .n-thread-subscribers { @include make-sm-column(2); }

      .timestamp {
        font-size: 12px;
        font-weight: bold;
        color: #666;
        margin-right: 5px;
      }

      .meta {
        font-size: 12px;
      }

      .post-number-read {
        margin-right: .5em;
      }

      .post-number-unread a {
        color: white;
      }

      .post-number-unread a:hover {
        color: white;
        text-decoration: none;
      }
    }
  }

  .no-threads {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: #666;
  }

  a:hover {
    text-decoration: underline;
  }

  // Larger than a small screen
  @media (min-width: $screen-sm-min) {
    .header-info {
      text-align: right;
    }
  }

  // Smaller than a large screen
  @media (max-width: $screen-lg-min) {
    ol.threads li {
      .user-name {
        display: block;
      }

      p.title {
        white-space: normal;
      }
    }
  }

  // Smaller than a medium screen
  @media (max-width: $screen-md-min) {
    ol.threads li {
      .post-number-unread {
        display: inline-block;
      }

      .n-thread-subscribers {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  // Small screen only
  @media (max-width: $screen-sm-min) {
    ol.threads li {
      .user-name {
        display: inline;
      }
    }
  }
}
