.post {
  margin: 10px 0;
}

.post-author {
  @include make-lg-column(1);
  text-align: center;
  border-top: 1px solid $table-border-color;
  padding-top: 10px;
}

img.post-profile-image {
  @include center-block;
}

.post-body {
  @include make-lg-column(7);
  border-top: 1px solid $table-border-color;
  padding-top: 10px;
}

.post-controls {
  @include make-lg-column-offset(1);
  @include make-lg-column(7);
}