.post {
  margin: .5em 0;
  padding: .5em 0;
  border-top: 1px dotted #bbb;

  a {
    color: #77D102;
  }

  .post-author-image {
    @include make-sm-column(1);
  }

  .post-metadata {
    @include make-sm-column(2);
    font-size: .875em;
  }

  .post-content {
    @include make-sm-column(9);
  }

  .post-body, .post-form-body {
    @include make-sm-column(10);
  }

  .post-controls, .post-form-controls {
    @include make-sm-column(2);
  }
}

.new-post {
  margin-top: 2em;
  padding: 0 1.5em;
}

.post-textarea {
  min-height: 150px;
  max-width: 100%;
}
