.search-bar {
  display: block;
  text-align: center;
  margin-top: 5px;
}

#search {
  margin: 0 auto;
  width: 50%;
}

#search-form {
  display: inline-table;
  width: 100%;
  margin-bottom: 0;
}

#search-icon {
  width: 28px;
  background-color: #eee;
  display: table-cell;  
  vertical-align: middle;
  border: 1px solid #ccc;
  border-right: none;
}

#search-box {
  height: 28px;
}

.search-result {
  border: 1px solid #f8f8f8;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 5px;

  .header{
  }

  .body {
  }

  .footer {
    margin-top: 10px;
    font-size: 12px;
    font-style: italic;
  }
}

#suggestions {
  width: inherit;
  text-align: left;
  position: absolute;
  z-index: 10001;
  list-style: none;
  background-color: white;
  margin: 0;
  padding: 5px 10px;
  border: 1px solid #eee;
  font-size: 0.875em;
  box-shadow: 0px 2px 5px 1px #ccc;

  .selected {
    background-color: #f8fcef;
  }

  li {
    padding: 5px;
    cursor: pointer;
    margin-left: 80px;
  }

  li:hover {
    background-color: #f8fcef;
  }
  
  li::before{
    display: inline-block;
    width: 80px;
    margin-left: -80px;
    color: #77d102;
    text-align: right;
    padding-right: 10px;
    padding-left: 0px;
    font-weight: bold;
  }
  
  li[data-search-filter="author"]::before{
    content: "Posts by"
  }

  li[data-search-filter="thread"]::before{
    content: "Threads"
  }

  li[data-search-filter="subforum"]::before{
    content: "Subforums"
  }
}
