.search-bar {
  display: block;
  text-align: center;
  margin-top: 5px;
}

#search {
  width: 50%;
  margin: 0 auto;
}

#search-box {
  height: 28px;
}

.search-result {
  border: 1px solid #f8f8f8;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 5px;

  .header{
  }

  .body {
  }

  .footer {
    margin-top: 10px;
    font-size: 12px;
    font-style: italic;
  }
}

#suggestions {
  width: inherit;
  text-align: left;
  position: absolute;
  z-index: 10001;
  list-style: none;
  background-color: white;
  margin: 0;
  padding: 5px 10px;
  border: 1px solid #eee;
  font-size: 0.875em;

  .selected {
    background-color: #eee;
  }

  li {
    padding: 5px 0px;
  }

}

