.full-size {
  width: 100%;
}

.broadcast-label {
  margin-left: 6px;
  font-weight: normal;
  cursor: pointer;
}

.subscription-info {
  margin: 5px 0;

  .subscription-reason {
    font-size: $font-size-small;
    font-style: italic;
    color: #999;
    position: relative;
    top: 2px;
  }

  .subscription-button {
    padding-left: 0;
  }
}
