#subforum-view {
  .subscribe {
    @include make-sm-column-offset(2.5);
    @include make-sm-column(8);
  }

  .new-thread {
    @include make-sm-column-offset(2.5);
    @include make-sm-column(9.5);
  }

  // Small screen only
  @media (max-width: $screen-sm-min) {
    .subscription-info {
      margin: 0;
    }
  }
}