.subforum-info-header {
  @include make-sm-column(2.5);

  h3 {
    margin: 0 auto;
    font-weight: bold;
    position: relative;
    bottom: 4px;
  }

  a:hover {
    text-decoration: underline;
  }

  .subforum-description {
    margin-top: 4px;
    font-size: 12px;
    color: $medium-gray;
  }
}

// Larger than a small screen
@media (min-width: $screen-sm-min) {
  .subforum-info-header {
    text-align: right;
  }
}

// Small screen only
@media (max-width: $screen-sm-min) {
  .subforum-info-header {
    h3 {
      position: inherit;
      display: inline;
      margin-right: 5px;
    }

    .subscribers {
      display: inline;
    }
  }
}

.subforum-info {
  .subforum-top-bar {
    height: 5px;
  }

  .subforum-threads {
    @include make-sm-column(9.5);
    margin-bottom: 2em;
  }

  ol.threads {
    border: 1px solid $super-light-gray;
    padding: 0;
    list-style: none;

    li > div {
      margin: .4em 0;
    }

    li > div.more-threads {
      margin-left: 15px;
      font-size: 12px;
    }

    li.thread:nth-child(even) {
      background-color: $super-light-gray;
    }

    li {
      padding: 1px;

      .mini-col-header {
        font-size: 10px;
        font-weight: bold;
        color: #555;
      }

      .last-updated-info {
        @include make-sm-column(2.5);
      }

      p.title {
        @include make-sm-column(5.5);

        line-height: 18px;
        margin-bottom: 0;
      }

      .nowrap-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .n-posts {
        @include make-sm-column(2);
      }

      .created-by {
        @include make-sm-column(2);
      }

      .meta {
        font-size: 12px;
      }

      .post-number-read {
        margin-right: .5em;
      }

      .post-number-unread a {
        color: white;
      }

      .post-number-unread a:hover {
        color: white;
        text-decoration: none;
      }
    }
  }

  .no-threads {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: #666;
  }

  a:hover {
    text-decoration: underline;
  }

  // Smaller than a large screen
  @media (max-width: $screen-lg-min) {
    ol.threads li {
      .user-name {
        display: block;
      }

      p.title {
        white-space: normal;
      }
    }
  }

  // Smaller than a medium screen
  @media (max-width: $screen-md-min) {
    ol.threads li {
      .post-number-unread {
        display: inline-block;
      }

      .n-thread-subscribers {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  // Small screen only
  @media (max-width: $screen-sm-min) {
    ol.threads li {
      .user-name {
        display: inline;
      }
    }
  }
}
