#subforum-view {
  @include make-sm-column-offset(1);
  @include make-sm-column(10);
}

table.threads-view {

  tbody tr {
    background-color: #F9F9F9;
  }

  tr.unread {
    background-color: white;

    td {
      font-weight: bold;
    }
  }

  td.name {
    @include make-sm-column(2);
  }

  td.title {
    @include make-sm-column(9);
  }

  td.timestamp {
    @include make-sm-column(1);
  }

}