#thread-view {

  .subscribe {
    @include make-sm-column-offset(2.5);
    @include make-sm-column(8);
  }

  .new-post {
    @include make-sm-column-offset(2.5);
    @include make-sm-column(9.5);

    .post-form-controls {
      @include make-sm-column(8); 
      padding-left: 0px;
      padding-right: 0px;
    }
  
    .markdown-help {
      @include make-sm-column(4);
      padding-right: 0px;
      margin-top: 5px        ;

      .help-link {
        font-size: 12px;      
        float: right;
      }
    } 
  }

  .t-title {
    @include make-sm-column-offset(2.5);
    @include make-sm-column(9.5);

    h3 {
      display: inline-block;
    }
  }

  .t-header-info {
    @include make-sm-column(2.5);
  }

  .t-top-bar {
    height: 5px;
  }

  .t-threads {
    @include make-sm-column(9.5);

    ol {
      li:first-child {
        margin-top: 0;
        border-top: 0;
      }
    }
  }

  // Small screen only
  @media (max-width: $screen-sm-min) {
    .subscription-info {
      margin: 0;
    }
  }
}