<div id="app">
  <div class="container">
    <%= form_tag('/grant-sudo', :class=> 'form-horizontal') do %>
      <fieldset>
        <legend>$ sudo </legend>
        <div class="control-group">
          <div class="controls">
            <input type="text" class="input-xlarge" name="email">
            <button class="btn btn-danger" > <i class="icon-user icon-white"></i> Change user</button> 
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>