<!DOCTYPE html>
<html>
<head>
  <title>Community</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% unless Rails.env.production? %>
    <!-- Avoid asset pipeline for development cljs. It's a stupid hack to get
         sourcempas to work. -->
    <script src="client/client-dev/goog/base.js"></script>
    <script src="client/client-dev.js"></script>
    <script>goog.require("community.core");</script>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
